/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
	color: #fff;
}
.carousel {
	width: 800px;
	margin: 100px auto;
	background-color: #087f5b;
	border-radius: 20px;
	padding: 24px;
	display: flex;
	align-items: center;
	gap: 86px;
	position: relative;
}
.author-img {
	height: 200px;
	border-radius: 20px;
	transform: scale(1.5);
	box-shadow: 0 17px 18px rgba(0, 0, 0, 0.25);
	margin-left: 60px;
}
.testimonial {
	font-size: 20px;
	font-weight: 500;
}
.testimonial-text {
	color: #63e6be;
	margin-bottom: 20px;
}
.author {
	color: #20c997;
	font-size: 18px;
}
.degination {
	color: #20c997;
	font-size: 14px;
}
.btn {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100%;
	box-shadow: 0 17px 18px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #fff;
	top: 50%;
	cursor: pointer;
}
.btn-left {
	left: 0;
	transform: translate(-50%, -50%);
}
.btn-right {
	right: 0;
	transform: translate(50%, -50%);
}
.btn-icon {
	width: 24px;
	height: 24px;
	border-radius: 500px;
	stroke: #087f5b;
}
.dots {
	display: flex;
	align-items: center;
	justify-content: center;
  gap: 12px;
	position: absolute;
	left: 50%;
	bottom: 0;
  transform: translate(-50%,32px);
}
.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #087f5b;
  background-color: #fff;
}
.active{
  background-color: #087f5b;
}